{% load static %}
<div class="container marketing mt-5">
    <hr class="featurette-divider">

    <!-- Skincare Featurette -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-center">Glow with Hydration</h2>
        <p class="lead text-center">Revitalift Hyaluronic Acid Serum deeply hydrates and plumps skin, reducing fine lines and leaving a youthful glow. Dermatologist-approved for all skin types.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary mt-2">Shop Now</a>
        </div>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto rounded shadow-lg" src="{% static 'core/image/skin/asset 6.jpeg' %}" alt="Skincare">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Haircare Featurette -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-center">Ultimate Hair Repair</h2>
        <p class="lead text-center">Elvive Total Repair 5 Shampoo restores strength, shine, and softness, tackling five signs of hair damage in just one wash.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary mt-2">Shop Now</a>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto rounded shadow-lg" src="{% static 'core/image/hair/asset 6.jpeg' %}" alt="Haircare">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Makeup Featurette -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-center">Bold & Beautiful</h2>
        <p class="lead text-center">Color Riche Matte Lipstick offers intense color with a soft matte finish, keeping lips hydrated and stunning all day long.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary mt-2">Shop Now</a>
        </div>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto rounded shadow-lg" src="{% static 'core/image/serum/asset 4.jpg' %}" alt="Makeup">
      </div>
    </div>

    <hr class="featurette-divider">
</div>
